[Desktop Entry]
Name=PikaOS Desktop Layouts
Exec=/usr/bin/pika-gnome-layouts
Icon=desktop
Terminal=false
Type=Application
Terminal=false
Categories=GNOME;GTK;Utility;
Keywords=Gnome;GTK
OnlyShowIn=GNOME
